*
!.gitignore
!logo.png
!README.md
!.config
!.config/dunst/
!.config/dunst/**
!.config/hyde/
!.config/hyde/**
!.config/hypr/
!.config/hypr/**
!.config/rofi/
!.config/rofi/**
!.config/swaylock/
!.config/swaylock/**
!.config/waybar/
!.config/waybar/**
